################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ERPStandard/ERPStandard.WEB/bin
/ERPStandard/ERPStandard.WEB/obj/Debug
/ERPStandard/.vs/ERPStandard
